{
  "root": true,
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "taro",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import",
    "prettier",
    "react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "plugins": [
        "@typescript-eslint",
        "import",
        "prettier",
        "react"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        },
        "useJSXTextNode": true
      }
    }
  ],
  "rules": {
    "import/no-commonjs": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/member-delimiter-style": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }]
  },
  "globals": {
    "wx": true,
    "BASE_URL": true,
  }
}
