.home {
  &-title {
    font-size: 36px;
    font-weight: 500;

    &-wrapper {
      position: relative;
      height: 100px;
      line-height: 100px;
      padding: 0 70px;
      font-size: 0;
      background-color: #fff;
    }

    &-prefix {
      position: absolute;
      top: 50%;
      left: 40px;
      width: 8px;
      height: 40px;
      background-color: #4169e2;
      transform: translateY(-50%);
    }
  }

  &-content {
    overflow: hidden;
    padding-right: 32px;
    position: relative;
    margin-top: 40px;
    max-width: 100%;
    background-color: #f8f8f8;
  }
}

page {
  height: 100%;
  background-color: #f8f8f8;
}
