@mixin base-title-mixin {
  &-title {
    font-size: 36px;
    font-weight: 500;

    &-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      line-height: 100px;
      padding: 0 32px 0 62px;
      font-size: 0;
      background-color: #fff;
      border-bottom: 1px solid #f8f8f8;
    }

    &-prefix {
      position: absolute;
      top: 50%;
      left: 32px;
      width: 8px;
      height: 40px;
      background-color: #4169e2;
      transform: translateY(-50%);
    }

    &-suffix {
      flex: 1;
      color: #999;
      font-size: 24px;
      text-align: right;
    }
  }
}

.map,
.home,
.guide,
.rumor {
  @include base-title-mixin;
}
