@mixin base-page-mixin($padding: 40px) {
  &-content {
    height: calc(100vh - 100rpx);

    &-inner {
      max-width: 100%;
      padding-top: $padding;
      padding-bottom: $padding;
    }
  }
}

.home,
.rumor {
  @include base-page-mixin;
}

.guide {
  @include base-page-mixin(8px);
}

.home {
  &-content {
    background-color: #f8f8f8;

    &-inner {
      padding-right: 32px;
    }
  }
}

.rumor {
  &-content {
    &-inner {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}
